<style>
  body {
    background-color:floralwhite;
    width: 100%;
    margin: auto
  }
</style>

<script>
    $(document).ready(function() {
        $('.content').css('margin-top', $('.navbar')[0].clientHeight + 100);
        documentReady();
    });

</script>
<div class="content">
  <div class="shadow-sm p-3 mb-5 bg-white rounded" style="width:45%; max-width: 500px; height:auto; text-align: center; margin: auto">
    <div style="display: flex; flex-direction: column; justify-content: center; height: 200px;">
      <p style="color: #2b343a">계정이 성공적으로 삭제되었습니다!<br>나중에 꼭 다시 돌아오세요~<br>언제나 환영합니다!</p>
      <p style="font-size: 2rem; color: #0462c7">안 - 녕</p>
    </div>
  </div>
</div>
