<style>
  body {
    background-color:floralwhite;
    width: 100%;
    margin: auto
  }
</style>

<script>
    $(document).ready(function() {
        $('.content').css('margin-top', $('.navbar')[0].clientHeight + 100);
        documentReady();
    });

    function gotoLogin() {
        window.location.href = '/user/login';
    }

    function confirmResetPassword(obj) {
        var errorCount = 0;
        $('#password-msg').hide();
        $('#rePassword-msg').hide();

        var password = $('#password').val();
        var rePassword = $('#rePassword').val();
        console.log(`pass=${password}, repass=${rePassword}`);
        if(password.length < 6) {
            $('#password-msg').show();
            errorCount++;
        }
        if(password !== rePassword) {
            $('#rePassword-msg').show();
            errorCount++;
        }

        if(errorCount == 0) {
            $.ajax({
                url: '/user/resetPassword',
                type: 'post',
                data: {
                    userId: <%= params[:userId] %>,
                    newPassword: password
                },
                success: function(data) {
                    console.log(data);
                    if(data.result == true) {
                        let contentArea = $('#content-area');
                        contentArea.empty();
                        contentArea.append("<p>비밀번호가 성공적으로 변경되었습니다.</p>");
                        contentArea.append("<button type=\"button\" class=\"btn btn-warning\" style=\"width: 100%; margin-top: 20px\" onclick=\"gotoLogin()\">로그인 하러 가기</button>");
                    } else {
                        alert(data.message)
                    }
                },
                error: function(request, status, error) {
                    console.log("code = "+ request.status + " message = " + request.responseText + " error = " + error);
                }
            });
        }
    }
</script>

<div class="content">
  <div class="shadow-sm p-3 mb-5 bg-white rounded" style="width:45%; max-width: 500px; height:auto; margin: auto">
    <div id="content-area" style="display: flex; flex-direction: column;">
      <% if @validAccess %>
      <form>
        <h3>비밀번호 변경</h3>
        <div class="form-group" style="margin-bottom: 1px">
          <label for="password" class="col-form-label">비밀번호</label>
          <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력하세요">
          <small id="password-msg" style="display: none; color: red">6자리 이상 이어야 합니다</small>
        </div>
        <div class="form-group">
          <label for="rePassword" class="col-form-label">비밀번호 확인</label>
          <input type="password" class="form-control" id="rePassword" placeholder="한번 더 입력하세요">
          <small id="rePassword-msg" style="display: none; color: red">비밀번호가 다릅니다</small>
        </div>
      </form>
      <button type="button" class="btn btn-warning" style="width: 100%; margin-top: 20px" onclick="confirmResetPassword(this)">확인</button>
      <% else %>
      <p style="text-align: center">유효하지 않는 접근입니다.</p>
      <% end %>
    </div>
  </div>
</div>
